 .main {
    background: linear-gradient(to right top, #fcf0bc, #1ca0f8c9);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
    height: 80%;
    width: 90%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(49, 49, 49, 0.05)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    border: 1px solid rgba(255, 255, 255, 0.177); 
  }


  .circle1,
  .circle2,
  .circle4,
  .circle3
  {
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(77, 77, 77, 0.1)
    );
    height: 16rem;
    width: 16rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 5%;
    right: 15%;
    filter: blur(0.3rem);
    background:#ffca7ae8;
  }
  .circle2 {
    bottom: 60%;
    left: 15%;
    background: #872656d0;
    filter: blur(0.3rem);
  }
  .circle3 {
    bottom: 2%;
    left: 70%;
    background: #872656bb;
    filter: blur(0.3em);
  }
  .circle4 {
    top: 60%;
    right: 75%;
    filter: blur(0.3rem);
    background:#fcc675ab;
  }

  .header-container{
    width: 100%;
    border-radius: 2rem;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(77, 77, 77, 0.05)
    );    
  }

  .h1{
    font-size: 38px;
    color: #426696;
    opacity: 0.8;
    padding: 1%;
  }

  .search-bar{
    text-decoration: hidden;
    outline: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-radius: 1rem;
    width: 12rem;
    padding: 2.5%;
  }

  .body-container{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .card{
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(77, 77, 77, 0.05)
    );  
    width: 40%;
    height: 550px;
    margin: 50px auto;
    border-radius: 1rem;
  }

  .card-inner{
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(77, 77, 77, 0.05)
    ); 
    border-radius: 1rem;
    width: 90%;
    height: 200px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #426696;
    font-size: 28px;

  }

  .high-low{
    display: flex;
    justify-content: space-evenly;
    width: 88%;
    margin: 0 auto;
    height: 200px;
  }
  #high-low{
    color: #426696;
    width: 30%;
    margin: 20px auto;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(77, 77, 77, 0.05)
    ); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    line-height: 30px;
    font-size: 20px;
  }

  .info-box{
    border-radius: 1rem;
    width: 90%;
    height: 200px;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #426696;
    font-size: 20px;
  }

  .detail-inner{
    width: 50%;
    height: 50%;
    margin: 10px 2%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(77, 77, 77, 0.05)
    ); 
    border-radius: 1rem;
    line-height: 30px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
@media only screen and (max-width: 900px) {
  .circle1,
  .circle2,
  .circle4,
  .circle3
  {
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
  }

}

@media only screen and (max-width: 700px) {
  .circle1,
  .circle2,
  .circle4,
  .circle3
  {
    height: 7rem;
    width: 7rem;
    position: absolute;
    border-radius: 50%;
  }
  .main{
    height: 190vh;
  }


  .card{
    width: 90%;
    height: 500px;
    margin: 20px auto;
    border-radius: 1rem;
  }
  .body-container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .high-low{
    height: 150px;
  }
}